/node_modules
/public/hot
/public/img/users
/public/img/qr
/public/img/warehouse
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
